@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-color: rgb(29, 29, 29);
}

header{
    background-color: gray;

}

header > h1{
    padding: 10px;
    text-align: center;
}

#burguer{
    background-color: rgb(53, 53, 53);
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover{
    background-color: #fff;
    color: black;
}


nav{
    display: none;
}

nav ul{
    list-style: none;
}

nav > ul>  li> a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(65, 65, 65);
    color: #fff;
    border-top: 1px solid rgba(156, 156, 156, 0.486);
}

nav > ul > li > a:hover{
    background-color: gray;
}

main{
    width: 90vw;
    background-color: #e9e9e9;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

article h2{
    padding-bottom: 20px;
}

article p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 10px;
}